body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}

button {
    background-color: rgb(23, 23, 23);
    color: rgb(227, 227, 227);
    border: none;
    transition: transform 0.2s ease-in-out;
    border-radius: 8px;
    width: 50%;
    max-width: 250px;
}

button:hover, button:focus {
    transform: scale(1.1);
    cursor: pointer;
}

div#results {
    display: flex;
    justify-content: center;
    width: 100%;
}

ol {
    list-style: decimal inside;
    padding-left: 0;
    text-align: left;
    width: auto;
    max-width: 500px;
}

li {
    margin-bottom: 10px;
}

a, a:link {
    color: #c5c5c5;
    text-decoration: none;
}

a:visited {
    color: #78918f;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
}